<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="../../../Content/assets/img/sidebar-4.jpg">
        <img class="sidebar" src="../../../Content/assets/img/sidebar-4.jpg" />
        <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->
        <app-dasboard></app-dasboard>
    </div>
    <div class="main-panel">
        <app-header></app-header>
        <router-view></router-view>
        <app-footer></app-footer>
    </div>
</div>
